.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

:root {
    --main-bg-color-light: #F1E2D1;
    --main-bg-color-dark: #583d22;

    --header-font: 'Playfair Display SC';
    --main-font: 'Poppins';
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Styling for the close button */
.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    color: #333;
}

.message {
    list-style: none;
    border-radius: 10px;
    box-shadow: 3px 3px 4px 0px rgba(50, 50, 50, 0.75);
    color: white;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}

/*
 * Give the various message types the correct colors
 */
.message.success {
    background-color: green;
}

.message.error {
    background-color: red;
}

.success {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

/* Info Messages */
.info {
    background-color: #2196F3;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

/* Warning Messages */
.warning {
    background-color: #FF9800;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

/* Error Messages */
.error {
    background-color: #F44336;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}


.custom-message {
    display: flex;
    flex-direction: column;
    /*padding: 3em;*/
    border: 1px solid transparent;
    font-size: 1.4rem;
    width: 100%;
    margin: -2em auto;
}

/* Individual messages */
.custom-message .alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-radius: 0.25rem;
    font-size: 2rem;
    margin: -2em auto;
}

/* Close button */
.custom-message .close {
    font-size: 1.6rem;
    font-weight: bold;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    transition: color 0.3s;
    margin: 0;
}

.custom-message .close:hover {
    color: red; /* Change color on hover for better visibility */
    margin: 0;
}

/* Different message tags */
.custom-message .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    margin: 0;
}

.custom-message .alert-info {
    color: #0c5460;
    background-color: #cce5ff;
    border-color: #b8daff;
    margin: 0;
}

.custom-message .alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    margin: 0;
}

.custom-message .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    margin: 0;
}
