html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

:root {
    --main-bg-color-light: #bfa271;
    --main-bg-color-dark: #583d22;

    --header-font: 'Playfair Display SC';
    --main-font: 'Poppins';
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Styling for the close button */
.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    color: #333;
}

.message {
    list-style: none;
    border-radius: 10px;
    box-shadow: 3px 3px 4px 0px rgba(50, 50, 50, 0.75);
    color: white;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 80%;
}

/*
 * Give the various message types the correct colors
 */
.message.success {
    background-color: green;
}

.message.error {
    background-color: red;
}

.success {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

/* Info Messages */
.info {
    background-color: #2196F3;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

/* Warning Messages */
.warning {
    background-color: #FF9800;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

/* Error Messages */
.error {
    background-color: #F44336;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

.social-icons {
    position: fixed;
    top: 50%;
    left: 20px; /* Adjust as needed */
    z-index: 1000;
}

.social-icons ul {
    list-style: none;
    padding: 0;
}

.social-icons li {
    margin-bottom: 20px; /* Adjust as needed */
}

.animated {
    transition: transform 0.3s ease-in-out;
}

.animated:hover {
    transform: scale(1.2); /* Larger size on hover */
}


.social-icons.fixed {
    position: fixed;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8em;
    margin: 0 0 10em 0;
}

main .left-col {
    background-color: var(--main-bg-color-light);
    border-radius: .8em;
    margin: auto;

}


main .right-col {
    background-color: var(--main-bg-color-dark);
    border-radius: .8em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    min-width: 500px;

}

h1 {    
    font-size: 5.2rem;
    font-family: 'Playfair Display SC', sans-serif;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

.contacts-card {
    display: flex;
    justify-content: space-around;
    gap: 2em;

    }


.first-row, .second-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10em

}

section {
    margin: 1em;
    background-color: white;
    padding: 1em;

}

.right-col input[type="text"],
.right-col input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: .8em 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.right-col button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.right-col button:hover {
    background-color: #0056b3;
}

.contact-us-wrapper  {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
}

.contact-us-wrapper span {
    color: white;
    font-family: "Playfair Display SC", sans-serif;
    font-size: 5.2rem;
    text-align: center;
    margin-bottom: .5em;
}

.contact-us-wrapper div:first-child {
    margin-bottom: 1em;
}


.contact-us-wrapper label {
    color: white;
    text-align: center;
    display: none;
}
