{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block content %}


    <div class="right-col">
        <aside class="">
            <div class="order-summary-widget">
                <div class="order-summary-main-content">
                    <div class="order-summary-text">
                        <div class="order-summary-title">Order information</div>
                        <div class="line">
                            <span>All products:</span>
                            <div class="order-summary-items-price">
                                {{ total|floatformat:0 }}
                                <sup>{{ total|extract_decimal_part }}</sup>
                                <span>lv.</span>
                            </div>
                        </div>
                        {% if order.coupon %}
                            <div class="line" style="color: green">
                                <span>Amount saved:</span>
                                <div class="order-summary-items-price">
                                    {{ order.coupon.amount|floatformat:0 }}
                                    <sup>{{ order.coupon.amount|extract_decimal_part }}</sup>
                                    <span>lv.</span>
                                </div>
                            </div>
                        {% endif %}

                        <div class="line">
                            <span>Delivery price:</span>
                            <div class="order-summary-items-price">
                                {{ delivery_fee|floatformat:0 }}
                                <sup>{{ delivery_fee|extract_decimal_part }}</sup>
                                <span>lv.</span>
                            </div>
                        </div>
                    </div>
                    <div class="order-summary-total">
                        <div class="order-summary-total-title">Total:</div>
                        <p class="order-summary-total-price">
                            {{ total_with_delivery_fee|floatformat:0 }}
                            <sup>{{ total_with_delivery_fee|extract_decimal_part }}</sup>
                            <span>lv.</span>
                    </div>
                </div>
                <div class="order-summary-actions">
                    {{ paypal_form.render }}
                </div>
            </div>

            <div class="voucher-widget">
                <section>
                    <p class="voucher-title">Have a voucher for discount?</p>
                    <form class="voucher-form form-control" action="{% url 'add-coupon' %}" method="post">
                        {% csrf_token %}
                        {{ coupon_form }}
                        <div>
                            <button class="btn">></button>
                        </div>
                    </form>
                </section>
            </div>
        </aside>
    </div>
{% endblock %}