{% extends 'main_base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
    <div class="social-icons">
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f fa-2x" style="color: var(--main-bg-color-dark)"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter fa-2x" style="color: var(--main-bg-color-dark)"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram fa-2x" style="color: var(--main-bg-color-dark)"></i></a></li>

            <!-- Add more social icons as needed -->
        </ul>
    </div>
    <main>
        <div class="left-col">
            <h1>Contacts</h1>
            <div class="contacts-card">
                <div class="first-row">
                    <section class="contact-block">
                        <img src="" alt="">
                        <span>artwoodique@gmail.com</span>
                    </section>
                    <section class="contact-block">
                        <img src="" alt="">
                        <span>Facebook</span>
                    </section>

                </div>
                {#                <div class="second-row">#}
                {#                    <section class="contact-block">#}
                {#                        <img src="" alt="">#}
                {#                        <span>+359 878 130 052</span>#}
                {#                    </section>#}
                {#                    <section class="contact-block">#}
                {#                        <img src="" alt="">#}
                {#                        <span>artwoodique@gmail.com</span>#}
                {#                    </section>#}
                {#                </div>#}


            </div>
            <div class="right-col"></div>

        </div>
        <div class="right-col">
            <div class="contact-us-wrapper">
                <span>Write us</span>
{#                <form action="{% url 'contacts' %}" method="POST">#}
{#                    {{ form|crispy }}#}
{#                    {% csrf_token %}#}
{#                    <button style="margin-top: 1em">Submit</button>#}

                </form>
            </div>
        </div>
    </main>
{% endblock %}


