{% if messages %}
    <div class="container">
        <div class="messages custom-message">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success">
                        {{ message }}
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% elif message.tags == 'info' %}
                    <div class="alert alert-info">
                        {{ message }}
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% elif message.tags == 'warning' %}
                    <div class="alert alert-warning">
                        {{ message }}
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% elif message.tags == 'error' %}
                    <div class="alert alert-danger">
                        {{ message }}
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}