{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static '/css/order_list.css' %}">
    <link rel="stylesheet" href="{% static '/css/sidebar.css' %}">
{% endblock %}

{% block content %}
    <div class="my-orders-container">
        {% include 'account/sidebar.html' %}
        <div class="page-container">
            <div class="panel">
                <div class="panel-body">
                    <div class="title">My orders</div>
                    {% for order in orders %}
                        <div class="order-card">
                            <div class="card-body">
                                <div class="order-details">
                                    <div class="order-main">
                                        <div class="img-container">
                                            <img
                                                    src="{% static 'images/order.png' %}"
                                                    class="img-fluid rounded-3" alt="Order img"
                                                    style="width: 65px;">
                                        </div>

                                        <div class="order-details">
                                            <a class="order-ref-code">
                                                {{ order.ref_code }}
                                            </a>
                                            <div class="subhead">{{ order.get_order_item_names }}</div>
                                        </div>
                                    </div>
                                    <div class="status-tags">
                                        {% if not order.received %}
                                            <a href="" class="tag active">active</a>
                                        {% else %}
                                            <a href="" class="tag inactive">inactive</a>
                                        {% endif %}


                                        {% if order.being_delivered %}
                                            <a class="tag active" href="#">being delivered</a>
                                        {% elif order.received %}
                                            <a class="tag delivered">delivered</a>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="other-info">
                                    <p class="price">{{ order.get_total|floatformat:0 }}
                                        <sup>{{ table.discount_price|extract_decimal_part }}</sup>
                                        <span>lv.</span></p>
                                    {#                            <div class="qty">+ -</div>#}
                                    <div class="actions">
                                        {#                                <a href="{% url 'toggle-like' %}" class="add-to-wishlist">remove</a>#}
                                        <a href="#" class="details">details</a>
                                    </div>


                                </div>

                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="actions">
                    <p>Ala bala</p>
                </div>
            </div>

        </div>


    </div>


{% endblock %}

