{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artwoodique</title>
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    <link
            href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&family=Poppins:wght@200;300;400;700&display=swap"
            rel="stylesheet">
    <script src="{% static 'js/shop.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'images/AW-logo.svg' %}">

</head>

<body>


<div class="wrapper">
    {% include 'header.html' %}
    <h1>Store</h1>
    <main>
        <header>
            <span>{{ products|length }}  results found</span>
            <div class="dropdown">
                <p>Sort by</p>
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="?sort_by=default&order=asc">Default</a>
                    <a href="?sort_by=price&order=asc">Price (Low to High)</a>
                    <a href="?sort_by=price&order=desc">Price (High to Low)</a>
                    <a href="?sort_by=views&order=desc">Most Views</a>
                </div>
            </div>
        </header>
        <div class="cards">
            {% for product in products %}
                <div class="card">
                    <a href="{% url 'catalog-details' pk=product.id %}">
                        <img src="{{ product.image.url }}" alt="product_image">
                    </a>
                    <div class="card-details">
                        <div>
                            <a href="{% url 'catalog-details' pk=product.id %}"
                               class="product-title">{{ product.name }}</a>
                            <p>{{ product.subheading }}</p>
                        </div>
                        <p class="product-price">${{ product.price }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}

    </main>
</div>

</main>

</div>


</body>


<style>
    input[type="text"],
    input[type="number"] {
        width: 100%;
        padding: 10px;
        margin: .8em 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
    }

    label {
        font-size: 1.6rem
    }

    aside {
        background-color: #C78B5F;
    }

    .card {
    }

    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }
</style>

<script>    function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function (event) {
    if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
        }
    }
}

function myFunction() {
    const dropdownContent = document.getElementById("myDropdown");
    dropdownContent.classList.toggle("show");
}

// Change the button text when an option is selected
document.querySelectorAll(".dropdown-content a").forEach(function (option) {
    option.addEventListener("click", function () {
        const buttonText = option.getAttribute("data-option-text");
        document.getElementById("dropdownButton").textContent = buttonText;
    });
});

// Close the dropdown menu when clicking outside of it
window.addEventListener('click', function (event) {
    if (!event.target.matches('.dropbtn')) {
        const dropdowns = document.getElementsByClassName("dropdown-content");
        for (let i = 0; i < dropdowns.length; i++) {
            const openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
        }
    }
});
</script>
</html>