    <div class="social-icons">
        <ul>
            <li><a href="https://www.facebook.com/profile.php?id=61550907957945"><i class="fab fa-facebook-f fa-2x"
                                                                                    style="color: var(--main-bg-color-dark)"></i></a>
            </li>
            <li><a href="#"><i class="fab fa-twitter fa-2x" style="color: var(--main-bg-color-dark)"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram fa-2x" style="color: var(--main-bg-color-dark)"></i></a></li>

            <!-- Add more social icons as needed -->
        </ul>
    </div>